<?xml version="1.0"?>
<launch>
  <!--param name="use_sim_time" value="true"/-->
  <!-- Arguments -->
  <arg name="map_file" default="$(find rapid)/maps/warehouse1.yaml"/>
  <!--arg name="map_file" default="$(find rapid)/maps/laboratoryv1.yaml"/-->
  <!--arg name="map_file" default="$(find rapid)/maps/empty_map.yaml"/-->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- minirapid1 model -->
  <include file="$(find rapid)/launch/outdoor/case1-1/bringup.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find rapid)/launch/outdoor/case1-1/amcl.launch">
     <arg name="initial_pose_x" value="0.0"/>
     <arg name="initial_pose_y" value="0.0"/>
     <arg name="initial_pose_a" value="0.0"/>
  </include>

  <!-- move_base -->
  <include file="$(find rapid)/launch/outdoor/case1-1/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find rapid)/launch/outdoor/case1-1/rviz.rviz"/>
  </group>

</launch>
