<?xml version="1.0"?>

<!--cartographer 2d mapping using rplidar by jiyoonh @2021-01-18-->

<launch>

   <!-- minirapid1 model -->
   <include file="$(find rapid)/launch/navigation/minirapid/simulation/minirapid_bringup-gazebo.launch"/>


   <!-- mapping -->
   <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
	-configuration_directory
	   $(find rapid)/launch/navigation/minirapid/simulation
        -configuration_basename sim-minirapid_lidar.lua" output="screen">
   </node>

   <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.005" />

   <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find rapid)/cartographer_ros/configuration_files/demo_2d.rviz" />  


   <!-- Record data  -->
   <node pkg="rosbag" type="record" name="rosbag_record_laser"
	   args="-O subset /scan" /> 


</launch>


