<?xml version="1.0" ?>
<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="base_link"/>
  <arg name="odom_frame"  default="odom"/>

  <!--node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"></node-->

  <node pkg="rviz" type="rviz" name="rviz"></node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="particles" value="80"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
